<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <i class="fas fa-user pr-2"></i>PROFILE
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-6 divider">
                    <div class="card">
                        <img class="card-img-top" src="{{userData.fThumbnail}}" alt="Card image cap">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">{{userData.name}}</h5>
                                </li>
                                <li class="list-group-item">
                                    <h6 class="card-text tilt">{{userData.email}}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">First name</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.firstName}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">Last name</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.lastName}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">Gender</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.gender}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">Birth Date</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.birthdate}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">Hometown</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.hometown}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-sm-2 col-form-label">Location</h6>
                                <div class="col-sm-10">
                                    <p class="form-control-plaintext">{{userData.location}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>