<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <i class="fas fa-user pr-2"></i>PROFILE
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-12 divider">
                    <div class="card">

                        {{#if userData.isFThumnailDefault}}
                            <img src="{{userData.fThumbnail}}" class="img-thumbnail">
                        {{else}}
                            <img src="{{userData.gThumbnail}}" class="img-thumbnail">
                        {{/if }}


                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">{{userData.firstName}} {{userData.lastName}}</h5>
                                <li class="list-group-item">
                                    <h6 class="card-text tilt">{{userData.email}}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">First name</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.firstName}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Last name</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.lastName}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Gender</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.gender}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Birth Date</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.birthdate}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Hometown</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.hometown}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="form-group row mb-0">
                                <h6 class="col-md-6 col-sm-4 col-form-label">Location</h6>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="form-control-plaintext">{{userData.location}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mt-3 border border-warning deleteBarPadding">
                        <div class="card-body p-1 pl-2">
                            <div class="row">

                                <div class="col-lg-6 col-sm-12">
                                    <div class="row">
                                        {{!-- Delete Section --}}
                                        <h6 class="col-sm-8 col-form-label">Edit Profile</h6>
                                        <div class="col-sm-4 border-right border-warning">
                                            <a href="/user/edit/{{userData.id}}"> <button type="button" class="btn btn-info">Edit
                                                </button></a>
                                        </div>
                                    </div>
                                    <hr class="d-lg-none my-sm-2">
                                </div>

                                <div class="col-lg-6 col-sm-12">
                                    <div class="row">
                                        {{!-- Edit Profile Section --}}
                                        <h6 class="col-sm-8 col-form-label">Delete Account</h6>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#exampleModalCenter">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- Modal --}}
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to DELTE YOUR ACCOUNT
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="/user/delete/{{userData.id}}"> <button type="button" class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    </div>
</div>